examples/3pcc/3pcc_web/3pcc_ws_server/META-INF/parlayx_common_types_2_0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:parlayx_common_xsd="http://www.csapi.org/schema/parlayx/common/v2_0" targetNamespace="http://www.csapi.org/schema/parlayx/common/v2_0">

   <xsd:complexType name="TimeMetric">
      <xsd:sequence>
         <xsd:element name="metric" type="parlayx_common_xsd:TimeMetrics"/>
         <xsd:element name="units" type="xsd:int"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="ChargingInformation">
      <xsd:sequence>
         <xsd:element name="description" type="xsd:string"/>
         <xsd:element name="currency" type="xsd:string"/>
         <xsd:element name="amount" type="xsd:decimal"/>
         <xsd:element name="code" type="xsd:string"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="SimpleReference">
      <xsd:sequence>
         <xsd:element name="endpoint" type="xsd:anyURI"/>
         <xsd:element name="interfaceName" type="xsd:string"/>
         <xsd:element name="correlator" type="xsd:string"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="ServiceError">
      <xsd:sequence>
         <xsd:element name="messageId" type="xsd:string"/>
         <xsd:element name="text" type="xsd:string"/>
         <xsd:element maxOccurs="unbounded" minOccurs="0" name="variables" type="xsd:string"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:simpleType name="TimeMetrics">
      <xsd:restriction base="xsd:string">
         <xsd:enumeration value="Millisecond"/>
         <xsd:enumeration value="Second"/>
         <xsd:enumeration value="Minute"/>
         <xsd:enumeration value="Hour"/>
         <xsd:enumeration value="Day"/>
         <xsd:enumeration value="Week"/>
         <xsd:enumeration value="Month"/>
         <xsd:enumeration value="Year"/>
      </xsd:restriction>
   </xsd:simpleType>

   <xsd:element name="ServiceException" type="parlayx_common_xsd:ServiceException"/>
   <xsd:complexType name="ServiceException">
      <xsd:sequence>
         <xsd:element name="messageId" type="xsd:string"/>
         <xsd:element name="text" type="xsd:string"/>
         <xsd:element maxOccurs="unbounded" minOccurs="0" name="variables" type="xsd:string"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:element name="PolicyException" type="parlayx_common_xsd:PolicyException"/>
   <xsd:complexType name="PolicyException">
      <xsd:sequence>
         <xsd:element name="messageId" type="xsd:string"/>
         <xsd:element name="text" type="xsd:string"/>
         <xsd:element maxOccurs="unbounded" minOccurs="0" name="variables" type="xsd:string"/>
      </xsd:sequence>
   </xsd:complexType>
</xsd:schema>
