servers/media/controllers/mmc/server/src/wsdl/media.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.example.org/media" xmlns:tns="http://www.example.org/media" elementFormDefault="qualified">

    <simpleType name="rtpmap">
    	<restriction base="string"></restriction>
    </simpleType>

    <simpleType name="format">
    	<restriction base="string"></restriction>
    </simpleType>

    <complexType name="payload">
    	<sequence>
    		<element
    			name="rtpmap"
    			type="tns:rtpmap"
    		>
    		</element>
    		<element
    			name="format"
    			type="tns:format"
    		>
    		</element>
    	</sequence>
    </complexType>
</schema>